# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/

# build artifacts
.build/

# sensitive files
.env*
resume.pdf
Resume.pdf
selfie.jpg
selfie.png
selfie_*.png

# misc
.DS_Store
*.tsbuildinfo
next-env.d.ts

.vercel
screenshot_*.png
